.forgotPasswordPage {
  font-family: "Heebo", sans-serif;
}

.forgotPasswordCard {
  background-color: #e9ecef;
  border-radius: 20px;
  border: none;
}

.card {
  border: none;
}

.forgotPasswordBtn {
  border-radius: 20px;
  padding: 10px;
  font-weight: bold;
  border: none;
  background-color: #74c69d;
}

.forgotPasswordBtn:hover {
  cursor: pointer;
  color: white;
}
