.blogCards {
  display: inline-flex;
}

.blogs {
  margin: 15px;
}

.bTitle {
  text-decoration: none;
  color: black;
}

.bTitle:hover {
  cursor: pointer;
}

.embed-responsive {
  object-fit: cover;
}

.middleImg {
  position: relative;
  top: 15px;
}

.card img {
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.img2 {
  object-fit: contain;
}

.img3 {
  object-position: left;
}

.blogWrapper {
  --bs-gutter-x: 0;
}

@media (max-width: 375px) {
  .blogCards {
    display: block;
  }
}

@media (max-width: 414px) {
  .blogCards {
    display: block;
  }
}

@media (max-width: 768px) {
  .blogCards {
    display: block;
  }
}

@media (max-width: 1024px) {
  .blogCards {
    display: block;
  }
}
