.homeWrapper {
    background-image: url("/assets/savings.png");
    background-position: center;
    background-size: cover;
    height: 100vh;
  }
  
  #homeHeader {
    font-family: "Heebo", sans-serif;
    color: #74c69d;
    padding: 30px;
  }

  .homePage {
    background-color: black;
  }