.goalsCard {
  font-family: "Heebo", sans-serif;
  margin: 25px;

}

.goalTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.goalBody{
  border-left: solid green;
}
