.goalsCard {
  font-family: "Heebo", sans-serif;
  margin: 25px;
  border-left-color: green;
  border-left: solid;
}

.goalTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
